/* LAYOUT */

#actual-resume {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#resume-left {
    max-width: 352px;
}

#resume-right {
    max-width: 517px;
}

.within-entries {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.within-sections {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.within-small {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.title {
    margin-bottom: 10px;
}

.list {
    margin-top: 5px;
    margin-left: 20px;
}

.entry {
    margin-bottom: 22px;
}

/* PDF LINK */

#port-resume-pdf-div {
    text-align: right;
}

#pdf {
    color: #b44a9f;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

#pdf:hover {
    text-decoration: underline;
}

/* TEXT STYLES */

/* #port-resume {
    color: #355063;
    color: #486970;
} */

.dark {
    color: #355063;
}

.green {
    color: #939314;
    margin-bottom: 12px;
}

.light {
    color: #486970;
}