#port-work-content {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: flex-start;
}

.work-images-columns {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 31.84%;
}

#port-home-blurb {
  /* display: block; */
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
  max-width: 800px;
  color: #333F48;
}




.column-half {
    float: left;
    width: 48.84%;
    margin-right: 2.23%;
}

.column-quarter {
    float: left;
    width: 23.326%;
    margin-right: 2.23%;
}