#port-work-content {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
}

.work-images-columns {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 48%;
}

#port-home-blurb {
    max-width: 800px;
    margin-bottom: 55px;
}

.project-name {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 20px;
}


/* Image hover behavior */

#port-work-content img:hover {
    opacity: 85%;
}

/* Filters */

#work-filters {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#work-filters p {
    border-radius: 100px;
    border: 0.5px solid #000;
    padding: 3px 14px;
}