#footer {
    margin-top: 175px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#footer > p {
    max-width: 389px;
}

#footer-image {
    object-fit: contain;
}

#footer-text {
    line-height: 20px;
}

#skills {
    margin-top: 10px;
}