.port-nav-link {
  font-size: 20px;
  line-height: 22px;
  margin-left: 50px;
  color: #333F48;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.nav-active {
  color: #939314;
}

#navbar {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navbar-home-link {
  display: inline-block;
}

#navbar-items {
  display: inline-block;
}