#contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#contact-info {
  margin-left: 20px;
}

.subheading {
  margin-bottom: 8px;
}

#contacts a {
  color: #6F6E09;
}

.tag:hover {
  background-color: #c6c47f;
  cursor: pointer;
}

button {
  border: none;
}