#work-content {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
}

#text-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-bg {
    background-color: #D3D3D3;
    transition: transform .2s;
}

.img-bg:hover {
    opacity: 85%;
    transform: scale(1.01);
}

.gray-bg {
    background-color: #D3D3D3;
}

.proj-img {
    height: auto;
}

.project-cont {
    display: flex;
    flex-direction: row;
    gap: 5em;
}





.work-columns {
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 48%;
}

.work-single-col {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.project-name {
    margin-top: 8px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
}