.img-bg {
    background-color: #f5f5f5;
}

.zoom {
    transition: transform .25s;
}

.zoom:hover {
    opacity: 85%;
    transform: scale(1.008);
}

.gray-bg {
    background-color: #D3D3D3;
}

.subtle-shadow {
  filter: drop-shadow(0 0 3rem #e0e0e0)
}

#clear-filters {
    background-color: transparent;
    cursor: pointer;
}

.work-img-group-col {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
}

.work-add-img-cont {
  border-radius: 0.5rem;
  display: flex;
  place-content: center;
  width: 100%;
}