.img-bg {
  background-color: #00000007;
}

.ali-bg {
  background-color: #e8e9d880;
}

.ali-bg-2 {
  background-color: #bac5bd50;
}

.sres-bg {
  background-color: #414141;
}

.mt-no-optional {
  margin-top: -1.5rem;
}

.up-arrow {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 9999;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tag-bg);
  border: 1.5px solid var(--color-gray-stroke);
  border-radius: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.up-arrow:hover,
.process-button:hover {
  background-color: var(--color-tag-hover);
  transform: translateY(-3px);
}

.process-button {
  position: fixed;
  bottom: 3rem;
  left: 47vw;
  z-index: 9999;
  padding: 6px 16px;
  width: fit-content;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tag-bg);
  border: 1.5px solid var(--color-gray-stroke);
  border-radius: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.process-button.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.tooltip {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateX(-0.3rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.88rem;
  font-weight: 400;
  transition: opacity 0.2s;
  padding: 0.25rem 0rem 0rem 0.5rem;
  z-index: 10;
}

.zoom {
  transition: transform .25s;
}

.zoom:hover {
  opacity: 60%;
  transform: scale(1.008);
}

.gray-bg {
  background-color: #D3D3D3;
}

.subtle-shadow {
  filter: drop-shadow(0 0 3rem #d0d0d0)
}

.smaller-shadow {
  filter: drop-shadow(0 0 1.5rem #d0d0d0)
}

.dark-shadow {
  filter: drop-shadow(0 0 3rem #303030)
}

#clear-filters {
  background-color: transparent;
  cursor: pointer;
}

.work-img-group-col {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  row-gap: 2rem;
}

.work-img-group-col-bigger {
  display: grid;
  gap: 0.5rem;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 28rem), 1fr));
}

.work-add-img-cont {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  place-content: center;
}

.left-border {
  border-left: 4px solid #cfcfcf;
}

.tag-position {
  position: absolute;
  top: 1em;
  right: 1rem;
  z-index: 10;
}

.tag-position-2 {
  height: fit-content;
  top: 1em;
  right: 1rem;
  z-index: 10;
}

.card {
  border-radius: 0.5rem;
  background: #86852530;
  overflow: hidden;
  transition: box-shadow 0.4s ease;
}

.card-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-family: 'Space Mono';
  text-transform: uppercase;
  font-size: var(--ps-size);
  color: #00000085;
  font-weight: bold;
}

.plus-minus {
  color: #00000085;
  font-weight: bold;
  transition: transform 0.25s ease;
}

.card.open .plus-minus {
  transform: rotate(180deg);
}

.card-content {
  background-color: #ffffff60;
  /* background-color: #ffffff; */

  border-radius: 0.5rem 0.5rem 0 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.content {
  margin: 1.25rem 1.5rem;
}

.card.open .card-content {
  max-height: 90vh;
  /* border: 2px solid #00000015; */
  box-sizing: border-box;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}