@font-face {
  font-family: "inter-variable", sans-serif;
  src: url('../public/font/InterVariable-Italic.ttf') format('ttf'),
    url('../public/font/InterVariable.ttf') format('ttf');
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin-left: 227px;
  margin-right: 227px;
  margin-top: 57px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFEFB;
}

* {
  padding: 0;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #333F48;
  margin: 0;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 650;
}

.underline {
  text-decoration: underline;
}