.project-content {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.project-content-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.section-titles {
    text-align: center;
    margin-top: 50px;
    color: #404040;
}

.italic {
    text-align: center;
    color: #404040;
    font-style: italic;
}

.col22 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 22px;
    align-items: center;
}

.row22 {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: flex-start;
    justify-content: center;
}

.task-container {
    width: 100vw;
    margin-left: calc(-4vw);
    margin-right: calc(-4vw);
    background-color: #1e1e1e;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}