.project-content {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.project-content-rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.section-titles {
    text-align: center;
    margin-top: 50px;
    color: #404040;
}

.task-container {
    width: 100vw;
    margin-left: calc(-4vw);
    margin-right: calc(-4vw);
    background-color: #212121;
}

.process-cont {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-left: calc(-4vw);
    margin-right: calc(-4vw);
}

.dark-section {
    width: 100vw;
    margin-top: -2.5rem;
    margin-bottom: -2.5rem;
    margin-left: calc(-4vw);
    margin-right: calc(-4vw);
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bg-trans {
    transition: background-color 0.5s ease;
}

.gray-full-container {
    width: 100vw;
    margin-left: calc(-4vw);
    margin-right: calc(-4vw);
    background-color: #efeee8;
    display: flex;
    place-content: center;
}

.gray-narrow-container {
    width: 100vw;
    margin-left: calc(-4vw);
    margin-right: calc(-4vw);
    background-color: #00000007;
    display: flex;
    place-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
}