#about {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

#headshot {
  width: 412px;
}

#text {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 480px;
}

.bio {
  max-width: 65ch;
}

#contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#contact-info {
  margin-left: 20px;
}

#no-underline {
  text-decoration: none;
}

#greeting {
  margin-top: 30px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.heading {
  margin-bottom: 4px;
}

#about ul {
  margin-left: 15px;
}