#about-text {
    max-width: 50ch;
    /* text-align: justify; */
}
  
#about-contact-block {
  margin-top: 40px;
}

#port-about-left {
  float: left;
}

#port-about-right {
  float: right;
  max-width: 446px;
}